<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock title %}{{ " - " if title else "" }}Shazam API</title>
    <link rel="stylesheet" href="static/ext/matcha.min.css">
</head>
<body>
    <h1>{{ self.title() or "Shazam API" }}</h1>
{% block body %}{% endblock body %}
    <footer>
        Based on <a href="https://github.com/shazamio/ShazamIO" target="_blank">ShazamIO</a>.
        <br>
        <a href="{{ remote_url or "https://github.com/lfavole/shazam-api" }}" target="_blank">Source code here</a>.
    </footer>
</body>
</html>
